# Wykluczenie środowisk Conda
*.conda
*.env
*.venv
*.pyc
*.pyo
*.pyd
__pycache__/
*.log

# Wykluczenie notebooków tymczasowych
.ipynb_checkpoints/

# Wykluczenie katalogów PyCharma
.idea/
*.iml

# Wykluczenie plików generowanych przez system
.DS_Store
Thumbs.db

# Wykluczenie plików Jupytera
.jupyter/
.anaconda/
anaconda_projects/

# Wykluczenie plików logów i wynikowych
*.log
*.out
*.err

# Pliki tymczasowe systemowe
*.swp
*.swo
~$*

# Wykluczenie folderów z dużymi danymi
Handwriting_model/data/raw/
Handwriting_model/data/processed/
Handwriting_model/data/train/
Handwriting_model/data/test/
Handwriting_model/data/val/

*.tgz